.menu-expand

    .item-page-program
        .dropdown-menu
            @include media-breakpoint-up(lg)
                background-color: $program-color

    .dropdown-menu
        > p
            @extend .container
            font-size: $h2-font-size
            font-weight: $headings-font-weight
            line-height: $headings-line-height
            @include media-breakpoint-up(lg)
                font-size: $h1-font-size
            a
                display: inline-block
                margin-left: 0
                padding: 0
        > ul
            @include media-breakpoint-up(lg)
                padding-left: $grid-gutter-width
                padding-right: $grid-gutter-width

    @include media-breakpoint-up(lg)
        .dropdown-menu
            padding-bottom: $grid-gutter-width
            padding-top: $spacer
            > ul
                grid-gap: $spacer $grid-gutter-width
